@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);



.height{
    height: 100vh;
}
.window {
    position: fixed;
    display: block;
    z-index: 100;
    width: 100%;
    height: 5.5vw;
    margin: 0;
    box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
    /*overflow: hidden;*/
    background: #fff;
}
#color{
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
    margin: 2rem;
    background-color: transparent;
}
.window .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    background: #fff;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    z-index: 10000;
}
.window .header .burger-container {
    position: fixed;
    right: 0;
    z-index: 1000;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    top: 0;
}
.window .header .burger-container #burger {
    width: 30px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
}
.window .header .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #000;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
}
.window .header.menu-opened .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #424242;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
}
 span.active-item-pointer {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
    height: .3rem;
    width: .3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #131116;
    display: block;
     opacity: 0;
    position: absolute;
    bottom: 0;
    transition: all 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0px;

}
.active[data-link=home] ~ span {
    left: 8% !important;
}
.active[data-link=works] ~ span {
    left: 32% !important;
}
.active[data-link=about] ~ span {
    left: 57% !important;
}
.active[data-link=contacts] ~ span {
    left: 82% !important;
}

.menu li:nth-child(2):hover ~ span{
    left: 32% !important;
}
.menu li:nth-child(3):hover ~ span{
    left: 57% !important;
}
.menu li:nth-child(4):hover ~ span{
    left: 82% !important;
}
@keyframes wiggle {
    0% {
        margin-left: -calc(18px * 2);
        opacity: 0;
    }
    50% {
        margin-left: calc(18px  * 2);
    }
    100% {
        margin-left: -calc(18px * 2);
        opacity: 1;
    }

}
.window .header .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
}
.window .header .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
}
.window .header .icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.window .header .icon.icon-bag {
    right: 0;
    top: 0;
    left: auto;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.65s;
}
.window .header ul.menu {
    position: absolute;
    display: flex;
    padding: 0;
    list-style: none;
    top: -100vh;
}
.window .header ul.menu li.menu-item {
    /*border-bottom: 1px solid #333;*/
    margin: 1rem 2rem;
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.window .header ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.49s;
}
.window .header ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.42s;
}
.window .header ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.35s;
}
.window .header ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.28s;
}
.window .header ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.21s;
}
.window .header ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.14s;
}
.window .header ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.07s;
}
.window .header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #424242;
    font-family: "Ek Mukta", sans-serif;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
    line-height: 2.35;
    font-weight: 200;
    width: 100%;
}
.window .header.menu-opened {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: #FAFAFA;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
}
.window .header.menu-opened .burger-container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.window .header.menu-opened .burger-container #burger .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.2s;
}
.window .header .burger-container #burger .dark {
    background: #424242!important;
}
.window .header.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}
.window .header.menu-opened ul.menu li.menu-item {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
}
.window .header.menu-opened ul.menu{
    top: 0;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.27s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.34s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.41s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.48s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.55s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.62s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.69s;
}
.window .header.menu-opened .icon.icon-bag {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    transition-delay: 0.3s;
}
.window .content {
    font-family: "Ek Mukta", sans-serif;
    padding: 67px 4% 0;
    text-align: justify;
    overflow: scroll;
    max-height: 100%;
}
.window .content::-webkit-scrollbar {
    display: none;
}
.window .content h2 {
    margin-bottom: 0px;
    letter-spacing: 1px;
}
.window .content img {
    width: 95%;
    position: relative;
    display: block;
    margin: 75px auto 75px;
}
.window .content img:nth-of-type(2) {
    margin: 75px auto;
}
.window .header ul.menu li.menu-item.active{
    box-shadow: none;
}
@media (max-width: 600px) {
    .window {
        
        margin: 0;
        border-radius: 0px;
        z-index: 20;
    }
    .window .header {
        position: fixed;
        width: 111vw;
    }
    .window .header ul.menu {
        flex-direction: column;
    }
    .active[data-link=about] ~ span {
        left: 40% !important;
        bottom: 80% !important;
        box-shadow: none!important
    }
    .active[data-link=works] ~ span {
        left: 40% !important;
        bottom: 60% !important;
        box-shadow: none!important
    }
    .active[data-link=production] ~ span {
        left: 40% !important;
        bottom: 45% !important;
        box-shadow: none!important
    }
    .active[data-link=become] ~ span {
        left: 40% !important;
        bottom: 25% !important;
        box-shadow: none!important
    }
    .active[data-link=contacts] ~ span {
        left: 40% !important;
        bottom: 0% !important;
        box-shadow: none!important
    }
    .menu li:nth-child(2):hover ~ span{
        left: 40% !important;
        bottom: 60% !important;
    }
    .menu li:nth-child(3):hover ~ span{
        left: 40% !important;
        bottom: 40% !important;
    }
    .menu li:nth-child(4):hover ~ span{
        left: 40% !important;
        bottom: 20% !important;
    }
    .menu li:nth-child(5):hover ~ span{
        left: 40% !important;
        bottom: 0% !important;
    }
}
